<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.nil? %>
  <h1> Hello! </h1>
  <%= link_to "Sign in", new_session_url %> or
  <%= link_to "Sign up", new_user_url %>
<% else %>
  <% current_user.email %>
<% end %>

<%= yield %>

</body>
</html>
